:root {
    --slate-tint-5: rgba(81, 97, 115, 0.103);
    --slate-tint-10: rgba(15, 23, 42, 0.1);
    --slate-tint-20: rgba(15, 23, 42, 0.2);
    --slate-tint-30: rgba(15, 23, 42, 0.3);
    --slate-tint-50: rgba(15, 23, 42, 0.5);
    --slate-tint-70: rgba(45, 54, 77, 0.7);
    --slate-tint-85: rgba(15, 23, 42, 0.85);
    --slate-tint-95: rgba(15, 23, 42, 0.95);

    --color-button-switch: #2b69926b;
    --color-select-hover-options: #f2fafff3;
    --color-button-circle: #2b6992db;
}